.home-container{
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
}
.home-container .img{
    width: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.home-container section{
    width: 30%;
    margin: 10% auto;
    overflow: scroll;
    overflow-x: hidden;
}
.home-container section .title{
    text-align: center;
}
.home-container section .cards{
    width: 100%;
    margin: 50px auto;
    padding: 20px;
    border: 5px solid #72B0E9;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
}
.home-container section .cards h2{
    margin: 10px auto;
}
.home-container section .cards span{
    font-weight: 400;
    margin: 0 10px;
}